body{
    background: #2FADCC;
    padding: 30px;
    margin :20px;
}
label{
    min-width: 200px;
    min-height: 16px;
    font-size : 20px;
}
input{
    font-size: 25px;
    border-radius: 5px;
    border-color :#A8D1E7;
}
.errorlist{
    list-style-type: none;
    color: rgb(122, 4, 4);
    font-size: 25px;
}